body{
    background: rgba(192,192,192,0.5);
}

#difficulty-section{
    display: flex;
    justify-content: center;

}

#difficulty-section div{
    margin: 5px 10px;
    cursor: pointer;
    user-select: none;
    height: 35px;
    padding: 5px 15px;
    background: rgb(35 173 229);
    color: #fff;
    border-radius: 8px;
    transition: 0.3s;
}

#difficulty-section .selected, #custom.selected input, #custom.selected div{
    background: #fb7299;
    font-weight: bold;
}

#difficulty-section span{
    line-height: 35px;
    font-size: 18px;
    text-align: center;
}

#custom{
    display: flex;
}

#custom div{
    /*display: none!important;*/
    cursor: default;
    margin: 0 5px!important;
    padding: 0;
}

#custom input{
    /*display: none;*/
    border: none;
    border-bottom: 1px solid #fff;
    background: rgb(35 173 229);
    color: #fff;
    max-width: 50px;
    transition: 0.3s;
}

#custom input:focus-visible{
    outline: none;

}

#custom.selected input{
    border-bottom: 2px solid #fff;
    /*display: block;*/
}

#game-board{
    overflow: scroll;
    position: absolute;
    width: 100%;
}

.game-block{
    width: 25px;
    height: 25px;
    background-size: 100%;
    font-weight: 700;
    text-align: center;
    user-select: none;
}

.game-block{
    background-image: url("./assets/bc.svg");
    float: left;
}

.game-block.pressed{
    background-image: url("./assets/bp.svg");
}

.game-block.closed{
    background-image: url("./assets/bc.svg");
}

.game-block.flagged{
    background-image: url("./assets/bf.svg");
}

.game-block.b-0{
    background-image: url("./assets/b0.svg");
}

.game-block.b-1{
    background-image: url("./assets/b1.svg");
}

.game-block.b-2{
    background-image: url("./assets/b2.svg");
}

.game-block.b-3{
    background-image: url("./assets/b3.svg");
}

.game-block.b-4{
    background-image: url("./assets/b4.svg");
}

.game-block.b-5{
    background-image: url("./assets/b5.svg");
}

.game-block.b-6{
    background-image: url("./assets/b6.svg");
}

.game-block.b-7{
    background-image: url("./assets/b7.svg");
}

.game-block.b-8{
    background-image: url("./assets/b8.svg");
}

.game-block.b-m{
    background-image: url("./assets/mine.svg");
}

.game-block.b-hm{
    background-image: url("./assets/mine-hit.svg");
}

#top-area{
    display: none;
    justify-content: space-between;
    background: rgba(192,192,192,0.5);
}

#top-area img{
    width: 20px;
    background-size: 100%;
}

#mine-remain, #timer{
    /*display: flex;*/
    background-image: url("assets/nums_background.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 5px;
}

#mine-remain div, #timer div{
    display: flex;
    padding: 4px;
}
#mine-remain img:nth-child(2), #timer img:nth-child(2){
    padding: 0 3px;
}

/*#mine-remain img{*/
/*    margin-right: 2px;*/
/*}*/

/*#timer img{*/
/*    margin-left: 2px;*/
/*}*/

#custom-apply{
    height: 35px;
    border-radius: 8px;
    border: none;
    background: rgb(35 173 229);
    color: #fff;
    cursor: pointer;
}

#face-icon{
    background-size: 100%;
}

#face-icon.unpressed{
    background-image: url("./assets/face_unpressed.svg");
}

#face-icon.pressed{
    background-image: url("./assets/face_pressed.svg");
}

#face-icon.win{
    background-image: url("./assets/face_win.svg");
}

#face-icon.lose{
    background-image: url("./assets/face_lose.svg");
}

.top-display{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.border-img{
    height: 16px;
    background-size: 100% 100%;
    float: left;
}

.border-h{
    background-image: url("./assets/border_hor_2x.png");
}

.border-c.left.top{
    background-image: url("./assets/corner_up_left_2x.png");
}

.border-c.right.top{
    background-image: url("./assets/corner_up_right_2x.png");
}

.border-c.left.bottom{
    background-image: url("./assets/corner_bottom_left_2x.png");
}

.border-c.right.bottom{
    background-image: url("./assets/corner_bottom_right_2x.png");
}

.border-t.left{
    background-image: url("./assets/t_left_2x.png");
}

.border-t.right{
    background-image: url("./assets/t_right_2x.png");
}

.border-v{
    background-image: url("./assets/border_vert_2x.png");
    width: 16px;
    background-size: 100% 100%;
    float: left;
    height: 100%;
}

#mine-area{
    float: left;
}